@import '../utilidades-styles/variables';

@mixin FlexCentrado() {
  display: flex;
  justify-content: center;
}
@mixin FlexCentradoCompleto() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin FlexColumn() {
  display: flex;
  flex-direction: column;
}
@mixin FlexColumnCentrado() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin FlexColumnCompleto() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin EstiloLinkLi() {
  list-style: none;
  text-decoration: none;
}

@mixin EstiloContenedorTarjeta() {
  @include FlexColumnCentrado();
  width: 240px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 3%;
  cursor: pointer;
}

@mixin BorderButtonTarjeta() {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: $color-secundario
}

@mixin BackgrounImagePrincipal() {
  background-image: url('../../assets/Blue\ And\ Black.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin BackgrounImage() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin Button() {
  background-color: $color-secundario;
  font-size: 16px;
  padding: 8px;
  color: $color-titulos;
  border-radius: 10%;
  box-shadow: $box-shadow-principal;
}