$color-principal: rgba(3, 1, 19, 0.822);
$color-secundario: rgba(79, 79, 218, 0.822);
$box-shadow :rgba(0, 0, 0, 0.35) 0px 5px 15px;
$color-titulos-home: rgb(255, 255, 255);
$color-titulos:rgba(22, 20, 37, 0.856);
