$color-principal: rgba(184, 18, 18, 0.623);
$color-secundario: rgba(255, 187, 0, 0.5);
$box-shadow : rgba(3, 1, 19, 0.822) 0px 5px 15px;
$box-shadow-principal : rgba(184, 18, 18, 0.623) 0px 5px 15px;
$box-shadow-secundario : rgba(255, 187, 0, 0.5) 0px 5px 15px;
$color-titulos:rgba(247, 244, 240, 0.925);

// $color-principal: rgba(3, 1, 19, 0.822);
// $color-secundario: rgba(79, 79, 218, 0.822);
// $box-shadow : rgba(3, 1, 19, 0.822) 0px 5px 15px;
// $box-shadow-principal : rgba(3, 1, 19, 0.822) 0px 5px 15px;
// $box-shadow-secundario : rgba(79, 79, 218, 0.822) 0px 5px 15px;
// $color-titulos:rgba(247, 244, 240, 0.924);
