@import '../utilidades-styles/variables';
@import '../utilidades-styles/mixins';

.seccion-datos-actor {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.295);
  .container-datos-actor {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    .conteiner-img {
      width: 40%;
      box-sizing: content-box;
      display: flex;
      justify-content: center;
      .container {
        width: 75%;
        .img-actor {
          width: 100%;
          border-radius: 3%;
          box-shadow: $box-shadow;
        }
      }
    }
    .datos-actor {
      width: 40%;
      color: $color-titulos;
      .name {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-principal;
        box-shadow: $box-shadow;
        border-radius: 10%;
        width: 100%;
        height: 60px;
        h3 {
          font-size: 18px;
        }
      }
      .datos {
        width: 100%;
        padding: 10px;
        h4 {
          margin-top: 10px;
          margin-bottom: 5px;
        }
        p {
          margin-bottom: 15px;
          line-height: normal;
        }
        a {
          text-decoration: none;
          color: $color-titulos;
          background-color: $color-secundario;
          padding: 5px;
          border-radius: 10px;
          box-shadow: $box-shadow;
        }
        a:hover {
          box-shadow: $box-shadow-secundario;
        }
      }
    }
  }
}

/*//////////////////////////////////////////////////////
        RESPONSIVE
///////////////////////////////////////////////////////*/
@media screen and (max-width: 800px) {
  .seccion-datos-actor {
    .container-datos-actor {
      width: 90%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .conteiner-img {
        width: 80%;
        .container{
          width: 60%;
        }
      }
      .datos-actor {
        width: 80%;
      }
    }
  }
}
