@import '../utilidades-styles/mixins';

.modal-container-elenco {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.39);
  @include FlexCentradoCompleto();
  z-index: 2;
  position: relative;
  .container-list {
    @include BackgrounImagePrincipal();
    position: relative;
    width: 80%;
    .div-close {
      position: absolute;
      top: 5px;
      right: 5px;
      .close-elenco {
        button {
          @include Button();
        }
      }
    }
  }
}
