@import '../utilidades-styles/variables';

.link {
  text-decoration: none;
  .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid rgb(194, 189, 189);
    .img-item {
      width: 50px;
      padding: 8px;
      margin-left: 20px;
      transition: width 2s, height 2s, transform 2s;
      img {
        width: 100%;
        border-radius: 35% 10%;
        box-shadow: $box-shadow;
      }
    }
    .img-item:hover {
      width: 70px;
      transform: rotate(360deg);
      img {
        box-shadow: $box-shadow-secundario;
        cursor: pointer;
      }
    }
    .titulo-item {
      width: 50%;
      color: $color-titulos;
      font-weight: 600;
      justify-content: center;
      span:hover {
        //color: $color-secundario;
        box-shadow: $box-shadow-secundario;
        border-radius: 15% 15%;
        font-size: 16px;
      }
    }
    .next {
      margin: 25px;
      padding: 8px;
      border-radius: 10px;
      color: $color-titulos;
      background-color: $color-principal;
      box-shadow: $box-shadow;
  
    }
    .next:hover {
      box-shadow: $box-shadow-secundario;
      transform: scale(1.1);
      font-size: 16px;
    }
  }
}
/*//////////////////////////////////////////////////////
        RESPONSIVE
///////////////////////////////////////////////////////*/

@media screen and (max-width: 550px) {
  .items {
    .img-item {
      width: 40px;
      padding: 5px;
      margin-left: 10px;
    }
    .img-item:hover {
      width: 60px;
    }
  }
}
