@import '../utilidades-styles/variables';
@import "../utilidades-styles/mixins";

.container-list-movie {
  @include FlexColumn();
  width: 40%;
  height: 60vh;
  border: solid 1px black;
  margin: 30px;
  .title-list {
    @include FlexCentrado();
    width: 40%;
    background-color: $color-principal;
    position: absolute;
    h2 {
      font-size: 18px;
      font-weight: 600;
      color: $color-titulos-home;
    }
  }
  .list {
    margin: 0;
    padding: 0;
    margin-top: 60px;
    overflow-y: scroll;
  }
}

/*//////////////////////////////////////////////////////
        RESPONSIVE
///////////////////////////////////////////////////////*/
@media screen and (max-width: 1100px) {
  .container-list-movie {
    width:40%;
    height: 45vh;
    .title-list {
      width: 40%;
    }
  }
}

@media screen and (max-width: 700px) {
  .container-list-movie {
    width: 65%;
    height: 45vh;
    .title-list {
      width: 65%;
    }
  }
}

@media screen and (max-width: 550px) {
  .container-list-movie {
    width: 70%;
    height: 40vh;
    .title-list {
      width: 70%;
      h2{
        font-size: 16px;
      }
    }
  }
}
