@import '../utilidades-styles/variables';
@import '../utilidades-styles/mixins';

.container-list-movie {
  @include FlexColumn();
  width: 40%;
  height: 60vh;
  border: solid 1px black;
  margin: 30px;
  position: relative;
  .title-list {
    @include FlexCentrado();
    width: 100%;
    background-color: $color-principal;
    position: absolute;
    h2 {
      padding: 20px;
      font-size: 18px;
      font-weight: 600;
      color: $color-titulos-home;
    }
  }
  .list {
    margin-top: 60px;
    overflow: auto;
  }
  .list::-webkit-scrollbar {
    width: 13px;
    background-color: rgba(41, 53, 155, 0.198);
  }
  .list::-webkit-scrollbar-thumb {
    background: $color-principal;
    border-radius: 5px;
    border: 2px solid $color-secundario;
  }
}

/*//////////////////////////////////////////////////////
        RESPONSIVE
///////////////////////////////////////////////////////*/
@media screen and (max-width: 1100px) {
  .container-list-movie {
    width: 40%;
    height: 45vh;
  }
}

@media screen and (max-width: 700px) {
  .container-list-movie {
    width: 65%;
    height: 45vh;
  }
}

@media screen and (max-width: 550px) {
  .container-list-movie {
    width: 70%;
    height: 40vh;
    .title-list {
      h2 {
        font-size: 16px;
      }
    }
  }
}
