nav {
  background-color: rgba(3, 1, 19, 0.822);
  display: flex;
  .logo-menu {
    width: 130px;
    margin-left: 40px;
    .logo {
     width: 100%;
    }
  }
  ul {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    li {
      list-style: none;
      padding: 50px;
      .link-nav {
        text-decoration: none;
        color: white;
      }
    }
    li:hover {
      background-color: rgba(79, 79, 218, 0.822);
    }
  }
}
