@import '../utilidades-styles/variables';
@import '../utilidades-styles/mixins';

nav {
  height: 80px;
  display: flex;
  background-color: $color-principal;
  .logo-menu {
   box-sizing: border-box;
    width: 100px;
    margin-left: 30px;
    .logo {
      width: 100%;
      height: auto;
      box-sizing: border-box;
    }
  }
  .logo-menu:hover {
    background-color: $color-secundario;
    border-radius: 10px;
    box-shadow: $box-shadow-secundario;
  }
  .nav-menu {
    .mensaje-bienvenida {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $color-titulos;
      h2 {
        padding-right: 20px;
        margin-top: 50px;
      }
    }
  }
  .ul-nav {
    display: flex;
    width: 40%;
    height: 100%;
    .li-nav {
      width: 110px;
      padding: 5px;
      @include FlexCentrado();
      align-items: center;
      @include EstiloLinkLi();
      color: $color-titulos;
      button{
        background-color:$color-principal;
        color: $color-titulos;
        border-radius: 10px;
        box-shadow: $box-shadow-secundario;
        padding: 20px;
        margin: 1px;
      }
      button:hover{
        background-color: $color-secundario;
        border-radius: 10px;
      }
    }
    .li-nav:hover {
      background-color: $color-secundario;
      border-radius: 10px;
      box-shadow: $box-shadow-secundario;
    }
  }
}

/*//////////////////////////////////////////////////////
        RESPONSIVE
///////////////////////////////////////////////////////*/
@media screen and (max-width: 800px) {
  nav {
    ul {
      width: 100%;
    }
  }
}

