@import '../utilidades-styles/variables';
@import '../utilidades-styles/mixins';

.navbar {
  background-color: $color-principal;
  height: 70px;
  display: flex;
  align-items: center;
  .menu-hamburguesa {
    margin-left: 5%;
    margin-right: 3%;
    font-size: 35px;
  }
}
.nav-menu {
  background-color: $color-principal;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  .nav-menu-items {
    width: 100%;
    .navbar-toggle {
      background-color: $color-principal;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-between;
      .logo-menu {
        height: 80px;
      }
      .menu-close {
        margin-left: 5%;
        margin-right: 3%;
        font-size: 35px;
        background: none;
      }
    }
    .link-nav{
      text-decoration: none;
    }
    .nav-text a {
      text-decoration: none;
      color: $color-titulos;
      font-size: 18px;
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 16px;
      border-radius: 4px;
    }
    .nav-text {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 8px 0px 8px 16px;
      list-style: none;
      height: 60px;
      button {
        width: 100%;
        height: 90%;
        background-color: $color-secundario;
        color: $color-titulos;
        border-radius: 10px;
        box-shadow: $box-shadow-secundario;
        font-size: 18px;
        padding: 20px;
        margin: 1px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        .icono {
          margin-right: 16px;
        }
      }
      button:hover {
        background-color: $color-secundario;
      }
      span {
        margin-left: 16px;
      }
    }
    .nav-text a:hover {
      background-color: $color-secundario;
      box-shadow: $box-shadow-secundario;
      border-radius: 10px;
    }
  }
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 10;
}
