@import '../utilidades-styles/variables';
@import '../utilidades-styles/mixins';

.navbar {
    background-color: $color-principal;
    height: 80px;
    display: flex;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: $color-principal;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 10;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: $color-titulos;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  button{
    width: 100%;
    background-color:$color-secundario;
    color: $color-titulos;
    border-radius: 10px;
    box-shadow: $box-shadow-secundario;
    font-size: 18px;
    padding: 20px;
    margin: 1px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    .icono{
        margin-right: 16px;
    }
  }
  button:hover{
    background-color: $color-secundario;
  }
  
  .nav-text a:hover {
    background-color: $color-secundario;
    box-shadow: $box-shadow-secundario;
    border-radius: 10px;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: $color-principal;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    .logo-menu{
        height: 80px;
    }
  }
  
  span {
    margin-left: 16px;
  }