@import '../utilidades-styles/variables';
@import '../utilidades-styles/mixins';

.container-presentacion-tarjetas {
  @include FlexColumn();
  align-items: center;
  margin-bottom: 10px;
  h2 {
    color: $color-titulos;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 18px;
  }
  .container-tarjetas {
    @include FlexCentradoCompleto();
    flex-wrap: wrap;
    margin-bottom: 2%;
    .tarjeta {
      @include EstiloContenedorTarjeta();
      .link {
        text-decoration: none;
        color: $color-titulos;
      }
      .img-tarjeta {
        width: 100%;
        box-sizing: content-box;
      }
      .title-tarjeta {
        @include FlexCentrado();
        @include BorderButtonTarjeta();
        font-size: 12px;
        h3 {
          padding: 8px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .icono-eye {
        @include FlexCentrado();
        @include BorderButtonTarjeta();
        .eye {
          margin: 8px;
          padding: 5px;
          border-radius: 13px;
          border: 1px solid rgba(0, 0, 0, 0.185);
          font-size: 18px;
        }
        .eye:hover {
          box-shadow: $box-shadow-secundario;
          transform: scale(1.1);
        }
      }
    }
    .tarjeta:hover {
      transform: scale(1.1);
    }
  }
}

/*//////////////////////////////////////////////////////
        RESPONSIVE
///////////////////////////////////////////////////////*/
@media screen and (max-width: 1200px) {
  .container-presentacion-tarjetas {
    .container-tarjetas {
      .tarjeta {
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .container-presentacion-tarjetas {
    .container-tarjetas {
      .tarjeta {
        width: 200px;
        margin-right: 15px;
        margin-left: 15px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container-presentacion-tarjetas {
    h2 {
      font-size: 16px;
    }
    .container-tarjetas {
      .tarjeta {
        width: 180px;
        .title-tarjeta {
          padding: 0px;
          font-size: 12px;
        }
        .icono-eye {
          .eye {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .container-presentacion-tarjetas {
    h2 {
      font-size: 16px;
    }
    .container-tarjetas {
      .tarjeta {
        width: 130px;
        .icono-eye {
          .eye {
            font-size: 14px;
            margin: 5px;
            padding: 2px;
          }
        }
      }
    }
  }
}
