@import '../utilidades-styles/variables';
@import '../utilidades-styles/mixins';

.container-presentacion-tarjetas {
  @include FlexColumn();
  align-items: center;
  margin-top: 1%;
  .container-tarjetas {
    @include FlexCentrado();
    flex-wrap: wrap;
    margin-bottom: 2%;
    .tarjeta {
      @include FlexColumn();
      text-decoration: none;
      color: $color-titulos;
      width: 240px;
      margin-right: 30px;
      margin-left: 30px;
      margin-top: 3%;
      cursor: pointer;
      .img-tarjeta {
        width: 100%;
        height: auto;
      }
      .img-tarjeta:hover {
        transform: scaleY(1.1);
      }
      .title-tarjeta {
        @include FlexCentrado();
        @include BorderButtonTarjeta();
        padding: 8px;
        font-size: 14px;
        font-weight: 600;
        h3 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .icono-eye {
        @include FlexCentrado();
        @include BorderButtonTarjeta();
        .eye {
          margin: 10px;
          padding: 5px;
          border-radius: 13px;
          border: 1px solid rgba(0, 0, 0, 0.185);
          font-size: 18px;
        }
        .eye:hover {
          background-color: $color-secundario;
          color: white;
          transform: matrix(1, -0.3, 0, 1, 0, 0);
        }
      }
    }
  }
}
